.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
  .collection-preview {

    .title {
      font-size: 26px;
      margin: auto;
      margin-bottom: 25px;
      width: fit-content;
    }

    .preview {
      flex-direction: column;
    }
  }
}